.fon{
  background-color: rgb(85, 85, 224);
  width: 700px;
  height: 500px;
  padding-top: 30px;
  border-radius:12px;
}
.title{
  width: 200px;
  background-color: white;
  height: 56px;
  border-radius: 20px;
  margin: 30px 250px;
  text-align: center;
  padding-top: 0.5px;
  font-family:serif;
  
}
h2{
  color:rgb(85, 85, 224);
}
.centr{
  width: 600px;
  background-color: white;
  height: 300px;
  border-radius:20px;
  margin-left: 50px;
  box-shadow: -2px 1px 12px 10px;
  
}
.sun{
  display: inline-block;
  margin-left: 50px;
  text-align: center;
}
.cloud{
  display: inline-block;
  margin-left: 100px;
  text-align: center;
}
p{
  color:rgb(85, 85, 224); 
}
b{
  color:rgb(85, 85, 224);
}